[submodule "neural-network"]
	path = neural-network
	url = https://github.com/zhpinkman/neural-network
[submodule "pytorch-tutorials"]
	path = pytorch-tutorials
	url = git@github.com:zhpinkman/pytorch-tutorials.git
[submodule "house-pricing-nn"]
	path = house-pricing-nn
	url = git@github.com:zhpinkman/house-pricing-nn.git
[submodule "backward-elimination"]
	path = backward-elimination
	url = git@github.com:zhpinkman/backward-elimination.git
[submodule "object-detection-sonar"]
	path = object-detection-sonar
	url = git@github.com:zhpinkman/object-detection-sonar.git
[submodule "perceptron-adaline"]
	path = perceptron-adaline
	url = https://github.com/zhpinkman/perceptron-adaline
