[submodule "neural-network"]
	path = neural-network
	url = https://github.com/zhpinkman/neural-network
[submodule "pytorch-tutorials"]
	path = pytorch-tutorials
	url = git@github.com:zhpinkman/pytorch-tutorials.git
[submodule "house-pricing-nn"]
	path = house-pricing-nn
	url = git@github.com:zhpinkman/house-pricing-nn.git
