[submodule "neural-network"]
	path = neural-network
	url = https://github.com/zhpinkman/neural-network
[submodule "pytorch-tutorials"]
	path = pytorch-tutorials
	url = git@github.com:zhpinkman/pytorch-tutorials.git
[submodule "house-pricing-nn"]
	path = house-pricing-nn
	url = git@github.com:zhpinkman/house-pricing-nn.git
[submodule "backward-elimination"]
	path = backward-elimination
	url = git@github.com:zhpinkman/backward-elimination.git
[submodule "object-detection-sonar"]
	path = object-detection-sonar
	url = git@github.com:zhpinkman/object-detection-sonar.git
[submodule "perceptron-adaline"]
	path = perceptron-adaline
	url = https://github.com/zhpinkman/perceptron-adaline
[submodule "object-detection-segmentation"]
	path = object-detection-segmentation
	url = https://github.com/zhpinkman/object-detection-segmentation.git
[submodule "cycle-gan"]
	path = cycle-gan
	url = https://github.com/zhpinkman/cycle-gan
[submodule "CNN"]
	path = CNN
	url = https://github.com/zhpinkman/CNN
[submodule "memory-neural-networks"]
	path = memory-neural-networks
	url = git@github.com:zhpinkman/memory-neural-networks.git
[submodule "unsupervised-learning"]
	path = unsupervised-learning
	url = git@github.com:zhpinkman/unsupervised-learning.git
[submodule "Variational-Auto-Encoder"]
	path = Variational-Auto-Encoder
	url = git@github.com:zhpinkman/Variational-Auto-Encoder.git
[submodule "bitcoin-price-prediction"]
	path = bitcoin-price-prediction
	url = https://github.com/zhpinkman/bitcoin-price-prediction
[submodule "BERT-sentiment-classification"]
	path = BERT-sentiment-classification
	url = git@github.com:zhpinkman/BERT-sentiment-classification.git
